.puzzles-list{
  table {
    &:hover {
      background: #fffea3;
    }

    td {
      padding: 0;
      line-height: 1.2;
    }
  }
  a {
    &:hover {
      text-decoration: none !important;
    }
  }
}

.sudoku-board {
  border: solid 2px black;

  .initial {
    font-weight: bold;
    color: red;
  }

  td {
    text-align: center;

    border: solid 1px #ccc;

    &:nth-child(3n+1) {
      border-left: solid 2px black;
    }
  }

  tr {
    &:nth-child(3n+1) {
      border-top: solid 2px black;
    }
  }
}
