<%= content_for :sidebar do %>

  <%- puzzles.each do |puzzle| -%>
    <div class="mt-4 puzzles-list">
      <%= link_to puzzle_path(puzzle) do %>
        <%= render 'board', board: puzzle.formatted_board %>
      <% end %>
    </div>
  <% end %>

<% end %>
